{% extends "base.html.twig" %}

{% block title %}
	{{parent()}}
	- About
{% endblock %}

{% block body %}
	<h1 class="">About Us</h1>
	<div class="">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas facilis quas error																																																																																																								reiciendis doloribus.
	</div>
	<section class="">
		<div class="">
			<div>
				<div class="">
					<div class="">
						<img src="{{asset('build/images/aboutUsPics/sheimane-400x400.jpg')}}" width=" 1800" height=" 1200" alt=" ">
					</div>
					<div class="">
						<h3 class="">Sheïmane</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
					</div>
				</div>
			</div>
			<div>
				<div class="">
					<div class="">
						<img src="{{asset('build/images/aboutUsPics/tala-400x400.jpg')}}" width="1800" height="1200" alt="">
					</div>
					<div class="">
						<h3 class="">Tala</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
					</div>
				</div>
			</div>
			<div>
				<div class="">
					<div class="">
						<img src="{{asset('build/images/aboutUsPics/cedric3-400x400.jpg')}}" width="1800" height="1200" alt="">
					</div>
					<div class="">
						<h3 class="">Cédric</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
					</div>
				</section>
			{% endblock %}
