{% extends 'base.html.twig' %}

{% block title %}
	{{parent() }}
	Home
{% endblock %}

{% block body %}
	<div class="d-flex">
		<img src="{{ asset('build/images/logo.svg') }}" alt="" width="40">
		<h1>Welcome to Convertit!</h1>
	</div>
{% endblock %}
