{% extends 'base.html.twig'%}

{% block title %}
	{{parent()}}
	- Login
{% endblock %}

{% block body %}
	<h1>Bonjour et bienvenue</h1>
	<h2>Connectez pour utiliser l'application</h2>
	<div class="">
		<div>
			{# add login form #}
		</div>
	</div>
{% endblock %}
