<h1>Profil de
	{{app.user.pseudo ?? ""}}
</h1>
<div>
	<div>
		<img class="profile-picture" src="{{ app.user.profilePicture ?? "" }}" alt="avatar de {{ app.user.pseudo ?? " "}}">
	</div>
	<div>
		<h2>Biographie :</h2>
		<div>{{app.user.bio ?? ""}}</div>
	</div>
</div></div>
