<div>
	<div class="d-flex">
		<img class="profile-picture me-3" src="{{ asset(app.user.profilePicture ?? 'files/profile/default.png' ) }}" alt="avatar de {{ app.user.pseudo ?? " "}}">
		<h1 class="card-title">Profil de :
			{{app.user.pseudo ?? ""}}
		</h1>
	</div>
	<div>
		<div>
			<h2>Biographie :</h2>
			<div>{{app.user.bio ?? ""}}</div>
		</div>
	</div>
</div>
