<div>
	<div>Vous êtes sur le point de suspendre votre compte bla bla ...</div>
	<div class="">
		<form method="POST">
			<input type="hidden" name="pseudo" value="{{loggedUser.pseudo ?? ""}}">
			<button class="" type="submit">JE SUIS SUR</button>
		</form>
		<a href="/user">Annuler</a>
	</div>
</div>
