{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}


{# <div>
	<div>Vous êtes sur le point de suspendre votre compte bla bla ...</div>
	<div class="">
		<form method="POST">
			<input type="hidden" name="id" value="{{app.user.id}}">
			<button class="btn btn-danger" type="submit">JE SUIS SUR</button>
		</form>
		<a class="link-secondary" href="/user">Annuler</a>
	</div>
</div> #}
