/*
!/avion.png
!/campagne.png
!/canard.png
!/cuisine.png
!/foret.png
!/fun.png
!/lac.png
!/lapin.png
!/maison.png
!/montagne.png
!/moto.png
!/neige.png
!/pluie.png
!/television.png
!/television.png
!/tomates.png
!/velo.png
!/voiture.png
