/public/files/pictures/*
!/public/files/pictures/avion.png
!/public/files/pictures/campagne.png
!/public/files/pictures/canard.png
!/public/files/pictures/cuisine.png
!/public/files/pictures/foret.png
!/public/files/pictures/fun.png
!/public/files/pictures/lac.png
!/public/files/pictures/lapin.png
!/public/files/pictures/maison.png
!/public/files/pictures/montagne.png
!/public/files/pictures/moto.png
!/public/files/pictures/neige.png
!/public/files/pictures/pluie.png
!/public/files/pictures/television.png
!/public/files/pictures/television.png
!/public/files/pictures/tomates.png
!/public/files/pictures/velo.png
!/public/files/pictures/voiture.png
