{% extends 'base.html.twig' %}

{% block body %}
	<div class="tex">
		<h1>Bienvenue sur convertIt!
			{% if loggedUser %}
				<img src="{{profilePicturePath ?? ''}}{{loggedUser.profile_pic ?? ''}}" alt="{{loggedUser.profile_pic ?? ''}}" width='60' height='60' class="">
				{{loggedUser.pseudo ?? ''}}
			{% else %}
				<div>
					<strong>Veuillez vous connecter ou vous incrire pour utiliser l'application</strong>
				</div>
			{% endif %}
		</h1>
		<h2>Convertissez et partagez vos images</h2>
		<p>Ici, vous pourrez convertir vos images en png, jpg ou webp et les partager librement avec la communauté</p>
	</div>
	<div>
		<h1>convertir votre image</h1>
		<div>{% include "pages/home/_form.html.twig" %}</div>
	</div>
	<section class="bloc how">
		<h3>Comment Convertir</h3>
		<ul class="">
			<li>
				<div class="">
					<p class="">1</p>
					<div>Connectez vous pour convertir vos images preferées</div>
				</div>
			</li>
			<li>
				<div class="">
					<p class="">2</p>
					<div>Remplissez tout les champs necessaires</div>
				</div>
			</li>
			<li>
				<div class="">
					<p class="">3</p>
					<div>Cliquez sur Convert et consultez vos images</div>
				</div>
			</li>
		</ul>
	</section>
{% endblock %}
