{% extends "base.html.twig" %}


{% block title %}{% endblock %}
{% block body %}
	<div class="container my-5">
		{% include "pages/user/Components/_showUser.html.twig" %}
		{% include "pages/user/Components/_editProfilePicture.html.twig" %}
	</div>
{% endblock %}
