{% extends "base.html.twig" %}
{% block title %}
	{{parent()}}
	- Profile de
	{{loggedUser.pseudo ?? ""}}
{% endblock %}

{% block body %}
	<div class="bio">
		{% include "pages/user/Components/_showUser.html.twig" %}
		<div>
			<div>
				<div>
					<a href="user/editBio">Edit Bio</a>
				</div>
				<div>
					<a href="user/editProfilePicture">Edit profile picture</a>
				</div>
			</div>
			<div>
				<div>
					<a href="user/suspend">Suspend</a>
				</div>
			</div>
		</div>
	</div>
	{% include "pages/user/Components/_showPictures.html.twig" %}
{% endblock %}
