{% set pictures = app.user.pictures %}
{% extends "base.html.twig" %}
{% block title %}
	{{parent()}}
	- Profile de
	{{app.user.pseudo}}
{% endblock %}

{% block body %}
	<div class="bio">
		{% include "pages/user/Components/_showUser.html.twig" %}
		<div>
			<div>
				<div>
					<a class="link-secondary" href="user/editBio">Edit Bio</class="link-secondary">
				</div>
				<div>
					<a class="link-secondary" href="user/editProfilePicture">Edit profile picture</a>
				</div>
			</div>
			<div>
				<div>
					<a class="link-secondary" href="user/suspend/{{app.user.id}}">Suspend</a>
				</div>
			</div>
		</div>
	</div>
	{% include "pages/user/Components/_showPictures.html.twig" %}
{% endblock %}
