//color scheme from convertit v1.0.
// --backgroundColor: #DFCEBA;
// --primaryColor: #AF5454;
// --secondaryColor: #78B1D1;
$primary: #dfceba;
$secondary: #af5454;
$tertiary: #78b1d1;
$fourth: #8EBEE9;
$fifth: #407C96;
@import "~bootstrap/scss/bootstrap";
