//color scheme from convertit v1.0.
// --backgroundColor: #DFCEBA;
// --primaryColor: #AF5454;
// --secondaryColor: #78B1D1;
$primary: #dfceba;
$secondary: #af5454;
$tertiary: #78b1d1;
$fourth: #8ebee9;
$fifth: #407c96;
@import "~bootstrap/scss/bootstrap";
body {
    min-height: 100vh;
}
.img-container {
    max-width: 25rem;
    height: auto;
    object-fit: contain;
}
.profile-picture {
    max-width: 3.75rem;
    height: auto;
    object-fit: contain;
}
.custom-text-area {
    resize: none;
    height: 10rem;
}
.tag {
    border-radius: 1rem;
    background-color: #af5454;
    color: #dfceba;
    text-align: center;
    margin-top: 0.5rem;
}
.alert {
    text-align: center;
}
