<div class="d-flex p-1 px-5 bg-secondary">
	<a class="" href="#"><img src="{{ asset('build/images/logo.svg') }}" width="30" alt="convertit logo"></a>
	<nav class="">
		<div class="d-flex">
			<a href="{{path('legals_index')}}" class="link-dark">Mentions légales</a>
			<div>&nbsp;|&nbsp;</div>
			<div class="">© convertIt 2022</div>
		</div>
	</nav>
</div>
