{% extends "base.html.twig" %}

{% block title %}
	{{parent()}}
	- Contact
{% endblock %}

{% block body %}
	<div class="container y-5">
		<h1 class="text-center">Contact us</h1>
		<div class="d-flex justify-content-center w-80 align-items-center m-3" id="contact_form_image">
			<img class="mx-2 w-50 d-none d-lg-block" src="{{asset('build/images/contactUsPics/call-3613071_1280_ocre.png')}}" width="400" alt="Contact Convertit filling the form" class="">
			<div class="mx-2 w-50" style="min-width:18rem;">{% include "pages/contact/_form.html.twig" %}</div>
		</div>
	</div>
{% endblock %}
