{% extends "base.html.twig" %}

{% block title %}
	{{parent()}}
	- Contact
{% endblock %}

{% block body %}
	<div class="">

		<div
			class="" id="contact_form_image">
			{#Pixabay Image license. Free for commercial use#}
			<img src="{{asset('build/images/contactUsPics/call-3613071_1280_ocre.png')}}" width="400" alt="Contact Convertit filling the form" class="">
		</div>
		{# add contact form #}
	</div>
{% endblock %}
